# Ejemplo de configuración de variables de entorno para el envío de emails
# Copia este archivo como .env y configura tus valores reales

# Database Configuration
# Choose database engine: 'sqlite' or 'postgresql'
DATABASE_ENGINE=postgresql

# PostgreSQL Configuration (only needed if DATABASE_ENGINE=postgresql)
DB_NAME=pet
DB_USER=admin
DB_PASSWORD=Cali2025*
DB_HOST=localhost
DB_PORT=5432

# Configuración de email (Gmail por defecto)
EMAIL_HOST=smtp.gmail.com
EMAIL_PORT=587
EMAIL_USE_TLS=True
EMAIL_HOST_USER=tu-email@gmail.com
EMAIL_HOST_PASSWORD=tu-contraseña-de-aplicacion

#clave para validar reCAPTCHA en sgdea external
RECAPTCHA_SECRET_KEY = "6LfDfQIsAAAAAJpl4n2AokZxH2y4yoEq9lMJPDjM"